.header {
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.filter-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 16px;
    border-radius: 8px;
}

.filter-form label {
    width: 80%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.price-range {
    display: flex;
    gap: 10px;
    align-items: center;
}

.filter-form input,
.filter-form select,
.filter-form button {
    border-radius: 4px;
}

.filter-form button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.filter-form button:hover {
    background-color: #0056b3;
}
